.section {
  padding: 40px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  position: absolute;
  left: 10px;
  top: -16px;
  color: #3485c8;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .section {
    flex-direction: row;
    gap: 0px;
    padding: 60px 0px;
  }

  .label {
    left: 20px;
    top: -10px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    gap: 40px;
    padding: 80px 80px 40px 60px;
  }
  .label {
    font-size: 24px;
    top: 24px;
    left: 24px;
  }

}


