.section {
  padding: 0px 10px 40px 10px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.sideBar {
  display: none;
}

.title {
  text-align: center;
  color: #0000008a;
  font-size: 30px;
  line-height: 1.2;
}

.subTitle {
  color: #0000008a;
  font-size: 16px;
  line-height: 1.2;
  text-align: justify;
}

.text {
  color: #0000005f;
  font-size: 17px;
  text-align: justify;
}

.span {
  color: #e50303b6;
  font-size: 37px;
}
.span:last-child {
  color: #024c8aa2;
}

@media screen and (min-width: 768px) {
  .sideBar {
    display: flex;
  }

  .section {
    height: 100vh;
    min-height: 375px;
    
  }

  .title {
    font-size: 28px;
  }

  .subTitle {
    font-size: 24px;
    line-height: 1.4;
  }

  .text {
    font-size: 18px;
  }
  .span {
    font-size: 34px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 120px 180px;
    height: 100vh;
  }

  .title {
    font-size: 48px;
  }

  .subTitle {
    font-size: 24px;
  }

  .text {
    font-size: 24px;
    line-height: 36px;
  }
  .span {
    font-size: 58px;
  }
}
