.container {
  min-width: 360px;
  max-width: 375px;

  margin: 0 auto;
  /* background-color: blue; */
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 12px;
    /* background-color: red; */
  }
}

@media screen and (min-width: 1360px) {
  .container {
    max-width: 1360px;
    /* background-color: yellow; */
  }
}
