.nav {
  margin-top: 40px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.navLink {
  font-size: 15px;
  text-decoration: none;
  color: var(--dark);
}
.navLink:hover {
  color: var(--blue);
}
