.section {
  display: flex;
  flex-direction: column;

  justify-content: center;
  padding: 200px;
  height: 100vh;
  

}



.span1 {
  color: #e50303b6;
  font-size: 23px;
}
.span2 {
  color: #024c8aa2;
  font-size: 23px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 27px;
  }
  .span1 {
    font-size: 30px;
  }
  .span2 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1360px) {
  .title {
    font-size: 37px;
  }
  .span1 {
    font-size: 42px;
  }
  .span2 {
    font-size: 42px;
  }
}
