.section {
  height: 100vh;
  margin-top: 200px;
  /* margin-bottom: 200px; */
}

.title {
  z-index: 999;
  color: #0000008a;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 1.4;
}

.span1 {
  color: #e50303b6;
  font-size: 23px;
}
.span2 {
  color: #024c8aa2;
  font-size: 23px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 27px;
  }
  .span1 {
    font-size: 30px;
  }
  .span2 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1360px) {
  .title {
    font-size: 37px;
  }
  .span1 {
    font-size: 42px;
  }
  .span2 {
    font-size: 42px;
  }
}
