.section {
  padding: 160px 80px;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 324px;
  /* height: 100vh; */
}

.video {
  position: absolute;
  top: 400px;
  left: 70%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%) scale(1);
  z-index: -1; /* Відео буде позаду контенту */
  object-fit: cover; /* Відео займе весь простір контейнера */
}

.content {
  width: 580px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  z-index: 1;
}

.title, .title2 {
 
  z-index: 999;
  color: #0000008a;
  font-size: 21px;
  font-weight: 500;
  line-height: 60px;
}





.text {
  width: 500px;
  color: #0000005f;
  font-size: 21px;
  font-weight: 500;
  line-height: 28px;
}

.span1 {
  color: #e50303b6;
  font-size: 23px;
}
.span2 {
  color: #024c8aa2;
  font-size: 23px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 27px;
  }
  .span1 {
    font-size: 30px;
  }
  .span2 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1360px) {
  .title {
    font-size: 42px;
  }
  .span1 {
    font-size: 58px;
  }
  .span2 {
    font-size: 52px;
  }
}
