.recomendBox {
    /* min-width: 700px; */
}

.title {
    color: #0000008a;
    /* font-size: 2em;
    line-height: 1.3; */
    /* margin: 4em 0 1.25em; */
}

.title2 {
    color: #0000008a;
    /* font-size: 1.5625em;
    line-height: 1.4;
    margin: 1.6em 0 .64em; */
}

.list {
    /* margin-left: 1.25em;
    position: relative; */
}

.item {
    /* margin-bottom: .5em;
    font-size: .9rem;
    line-height: 1.6;
    margin-bottom: 10px; */
    position: relative; /* Додано для позиціонування псевдоелемента */
}

.list .item:before { /* Видалено зайвий пробіл */
    content: "•"; /* Можна замінити на інший символ, наприклад, номер або текст */
    position: absolute;
    left: -20px;
    top: -10px; /* Виправлено позицію, щоб символ був вертикально вирівняний з текстом */
    color: #0000008a; /* Колір маркера */
    font-size: 28px; /* Розмір маркера */
}
