.footer {
  width: 100%;
  padding: 14px 20px;
  background-color: #222222;
  color: #fff;
  text-align: center;
}

.footerNavBox {
  z-index: 10; /* Піднімає посилання на передній план */
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.footerNavBox.prevlink {
  justify-content: space-between;
}

.redirectLink {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 12px;
  color: var(--white);
  text-decoration: none;
}

.redirectLink:hover {
  color: var(--cream);
}

.linkbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text {
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 16px;
}

.icon {
  width: 20px;
  height: 20px;
}

.footerSocialBox {
  z-index: 10;
  width: 100%;
  /* height: 60px; */
  background-color: rgb(20, 20, 20);
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 10px 90px;
}

.list {
  z-index: 20;
  display: flex;
  gap: 20px;
}

.item {
  font-size: 24px;
}

.socialLink {
  color: var(--cream);
}

.socialLink:hover {
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 14px 140px;
  }

  .footerSocialBox {
    padding: 10px 140px;
  }
}
