.footerSocialBox {
  z-index: 10;
  width: 355px;
  margin: auto;
  border-top-left-radius: 20px; /* Adjust the radius as needed */
  border-top-right-radius: 20px;
  background-color: #3c3c3ce5;
  /* position: absolute;
  bottom: 0; */
  display: flex;
  padding: 10px;
  justify-content: center;
}

.list {
  z-index: 20;
  display: flex;
  gap: 20px;
}

.item {
  font-size: 24px;
}

.socialLink {
  color: var(--cream);
}

.socialLink:hover {
  color: var(--white);
}


@media screen and (min-width: 768px) {


  .footerSocialBox {

    width: 728px;
    padding: 4px 40px;
    
  }


}


@media screen and (min-width: 1440px) {


  .footerSocialBox {

    width: 90%;
    padding: 4px 40px;
    
  }

  .item {
    font-size: 26px;
  }
}
