.section {

  display: flex;
  flex-direction: column;

  gap: 20px;
  padding: 40px 10px;
}

.box {
  width: 100%;
}

.label {
  text-align: left;
  margin-bottom: 20px;
  color: #3485c8;
  font-size: 18px;
}



@media screen and (min-width: 768px) {
  .section {

    padding-left: 80px;
    padding-right: 40px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    flex-direction: row;
    gap: 40px;
    padding: 0px 160px;
  }
  .label {
    font-size: 20px;
    margin-bottom: 24px;
  }


}
