.section {
  padding: 40px 10px;
  margin-bottom: 0px;

}

.recomendBox {
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
}

.title {
  color: #0000008a;
  font-size: 28px;
  line-height: 1.2;
  margin-left: 30px;
  margin-bottom: 24px;
}

.subTitle {
  color: #0000008a;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 14px;
  margin-left: 20px;
}


.list {
  text-align: justify;
 padding: 0px 10px;
  position: relative;
  margin-bottom: 40px;
}

.item {
  font-size: 12.5px;
  line-height: 1.2;
  margin-bottom: 10px;
  position: relative;
}



@media screen and (min-width: 768px) {
  .section {

    padding: 40px 20px;
  }

  .title {
    font-size: 32px;
    margin: 0px 40px 40px;
  }

  .subTitle {
    color: #0000008a;
    font-size: 24px;
    line-height: 1.4;
    margin-left: 40px;
    margin-bottom: 24px;
  }


}

@media screen and (min-width: 1440px) {
  .section {
    margin-bottom: 100px;
    padding: 40px 80px;
  }

  .title {
    color: #0000008a;
    font-size: 48px;
    margin: 0px 80px 60px;
  }

  .recomendBox {
    flex-direction: row;
    gap: 60px;
  }

  .item {
    font-size: 15.5px;
  }


}
