
@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("./reset.css");



:root {
  --title: #0000008a;
  --blue: #3485C8;
  --grey: #36464e;
  --darkBlue: #323f47;
  --dark: #000000de;
  --white: #ffffff;
  --cream: #f0eff4d2;
 
  color: var(--dark);
  background-color: var(--white);

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  /* max-width: 1360px; */
  margin: auto;
  /* margin-top: 0;
  padding: 0; */
}

* {
  box-sizing: border-box;
}

button {
  padding: 0;
}
html {
  scroll-behavior: smooth;
}